<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   </head>

   <body>
      <h1>Hello, World!</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
      <button type="button" onclick="on()">on</button>
      <button type="button" onclick="off()">off</button>

<script>
   function on(){
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", `/on`, true);
      xhttp.send();
   }

   function off(){
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", `/off`, true);
      xhttp.send();
   }
   
   var state=false;
   function toggle(){
      if (state == true){
         off();
         state = false;
      } else {
         on();
         state = true;
      }
   }   
</script>

   </body>
</html>
